/*=======background========*/
$background-main: #fff;
$background-grey: #f3f3f3;

/*=======text========*/
$text-purple: #673ab7;
$text-dark-purple: #1a1841;
$text-grey: #505050;
$text-error: #d40000;

/*=======button-loader========*/
$button-circle-main-bcg: #c19eff;
$button-main-slider: #fff;
