<div class="page">
  <div class="page__container">
    <header class="page__container__header">
      <h1 class="page__container__header__title">Hello</h1>
      <p class="page__container__header__subtitle">We're glad to see you on our platform</p>
    </header>
    <form
      *ngIf="logInForm"
      [formGroup]="logInForm"
      (ngSubmit)="logIn()"
      class="page__container__form"
    >
      <app-input
        type="text"
        placeholder="Email"
        formControlName="email"
      />
      <app-input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <div class="page__container__form__button">
        <app-button
          [isLoading]="isLoading"
          [disabled]="logInForm.invalid"
        >
          Sign In
        </app-button>
      </div>
    </form>
  </div>
</div>
